# generate a long random value, for example with `openssl rand -hex 32`
BETTER_AUTH_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BASE_URL=https://heartbeat.ebra.dev

DISABLE_SIGNUP=true
DISABLE_TELEMETRY=true
MAPBOX_TOKEN=
