DOMAIN=https://vaultwarden.ebra.dev
ADMIN_TOKEN=xxxxxxxxxxx
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_FROM=xxxxxxxxxxx@ebra.dev
SMTP_USERNAME=xxxxxxxxxxx@gmail.com
SMTP_PASSWORD=xxxxxxxxxxx
SIGNUPS_ALLOWED=false
PUSH_ENABLED=true
PUSH_INSTALLATION_ID=xxxxxxxxxxx
PUSH_INSTALLATION_KEY=xxxxxxxxxxx
SHOW_PASSWORD_HINT=false
