BETTER_AUTH_SECRET={{ vps1.priv_rybbit_better_auth_secret }}
BASE_URL=https://heartbeat.{{ vps1.base_domain }}

DISABLE_SIGNUP=true
DISABLE_TELEMETRY=true
MAPBOX_TOKEN=
CLUSTER_WORKERS=4
DEPLOYMENT=self-hosted
LITE_DASHBOARD=false
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
