APP_TITLE=ebra.dev
APP_URL=https://tinyauth.ebra.dev
DISABLE_ANALYTICS=true
OAUTH_WHITELIST=xxxxxxxxxx@gmail.com
TINYAUTH_AUTH_SESSIONEXPIRY=604800
SECURE_COOKIE=true
USERS_FILE=/users.txt
TRUSTED_PROXIES=10.0.2.0/24,152.53.167.145/32
PROVIDERS_POCKETID_CLIENT_ID=69f32307-eb31-40ce-afa4-591914f1f7f1
PROVIDERS_POCKETID_CLIENT_SECRET=xxxxxxxxxx
PROVIDERS_POCKETID_AUTH_URL=https://auth.ebra.dev/authorize
PROVIDERS_POCKETID_TOKEN_URL=https://auth.ebra.dev/api/oidc/token
PROVIDERS_POCKETID_USER_INFO_URL=https://auth.ebra.dev/api/oidc/userinfo
PROVIDERS_POCKETID_REDIRECT_URL=https://tinyauth.ebra.dev/api/oauth/callback/pocketid
PROVIDERS_POCKETID_SCOPES=openid email profile groups
PROVIDERS_POCKETID_NAME=Pocket ID
DOCKER_HOST=tcp://host.containers.internal:58857
